html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

h1,
h3 {
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
}

h1 {
    margin: 0;
}

h3 {
    margin: 15px 0;
}

.header {
    z-index: 8;
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    height: 4rem;
    padding: 1px 2rem 0;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
}

.header img {
    width: 250px;
}

.header ul {
    display: flex;
    list-style: none;
    width: 245px;
    justify-content: space-between;
    padding-left: 0;
    font-size: 1.1em;
    position: absolute;
    left: 1.7rem;
    bottom: .2rem;
}

#clock {
    font-size: 1.1em;
    position: absolute;
    right: 1.7rem;
    bottom: 1.3rem;
}

.b-top,
.b-right,
.b-bottom,
.b-left {
    position: fixed;
    z-index: 9;
    background: rgb(255, 255, 255);
}

.b-top {
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
}

.b-top::after {
    position: absolute;
    content: "";
    top: 2rem;
    left: 2rem;
    right: 2rem;
    height: 1px;
    background: #000;
}

.b-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
}

.b-bottom::after {
    position: absolute;
    content: "";
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    height: 1px;
    background: #000;
}

.b-left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
}

.b-left::after {
    position: absolute;
    content: "";
    right: 0;
    top: 2rem;
    bottom: 2rem;
    width: 1px;
    background: #000;
}

.b-right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
}

.b-right::after {
    position: absolute;
    content: "";
    left: 0;
    top: 2rem;
    bottom: 2rem;
    width: 1px;
    background: #000;
}

.page-content {
    margin: 3.5rem;
}

.info {
    margin-right: auto;
    width: 400px;
}


.menu {
    background: #fff;
    border-top: 1px solid #000;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 2rem;
    right: 2rem;
    bottom: -3.6rem;
    height: auto;
}

.menu ul {
    position: relative;
    list-style: none;
    padding-left: 0;
    line-height: 1.8em;
    font-size: 1.3em;
    padding-left: 1.5em;
}

#test-btn {
    cursor: pointer;
}



@media screen and (max-width: 1000px) {

    .header {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        height: 4rem;
    }

    .menu {
        left: 1rem;
        right: 1rem;
        bottom: -4.6rem;
        height: auto;
    }

    .page-content {
        margin: 2.5rem;
    }

    .b-bottom,
    .b-top {
        height: 1rem;
    }

    .b-top::after {
        top: 1rem;
        left: 1rem;
        right: 1rem;
        height: 1px;
    }

    .b-bottom::after {
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        height: 1px;
    }

    .b-left,
    .b-right {
        width: 1rem;
    }

    .b-left::after {
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
    }

    .b-right::after {
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
    }

}